@import 'tailwindcss';

.projects-swiper .swiper-button-next,
.projects-swiper .swiper-button-prev {
  color: #a78bfa !important;
  transform: scale(0.7);
}

.projects-swiper .swiper-pagination-bullet-active {
  background: #a78bfa !important;
}

.projects-swiper .swiper-slide {
  opacity: 1 !important;
  filter: none !important;
}
